.user {
  min-height: calc(100vh - 150px);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

  .header {
    color: $white;
    margin-top: 2rem;

    .edit-button {
      border-color: $color-secondary;
      background-color: $color-secondary;
      color: $white;
      font-weight: bold;
      margin-top: 20px;
      padding: 10px 25px;
      border-radius: 5px;
    }
  }

  .profil-form {
    width: 400px;
    .profil-inputs,
    .profil-buttons {
      display: flex;
      margin-top: 10px;
      justify-content: space-evenly;
    }

    .profil-inputs {
      .profil-input {
        padding: 10px 5px;
        border: 2px solid $color-secondary;
        border-radius: 5px;
        font-size: 14px;
      }
    }
    .profil-buttons {
      .button-valid,
      .button-cancel {
        padding: 5px 25px;
        border-radius: 5px;
        font-size: 14px;
      }
      .button-valid {
        border: 2px solid $color-secondary;
      }
      .button-cancel {
        border: 2px solid $cancel;
      }
    }
  }
}
